.inner{
  margin-top: 200px;
  text-align: center;
}
.line-title{
  width: 20%;
}
.cursiveAIZ{
  font-size: 54px;
  line-height: 100px;
}
.cursive{
  font-size: 44px;
  line-height: 12px;
}
